.active-link {
  color: rgb(219 39 119 / var(--tw-bg-opacity));
  border-bottom: 2px solid;
  font-weight: bold;
}
.slider-container {
  max-width: 100%;
  height: auto;
}

@media (max-width: 375px) {
  .slider-container {
    max-width: 200%;
  }
}
